.big{
    display: block;
    /*without flex wrap everything will be in the same line*/
}
.small-1, .small-2, .small-3, .small-4, .small-5{
    width: 100%;
    height:100px;
}   
.small-1{
    background-color: blanchedalmond;

}
.small-2{
    background-color: blue;
    
}
.small-3{
    background-color: green;
    
}
.small-4{
    background-color: orange;
    
}
.small-5{
    background-color: red;
    
}
body{
    margin: 0%;
}
@media (min-width:600px) 
{
    .big{
        display: flex;
        flex-wrap: wrap;
        /*without flex wrap everything will be in the same line*/
    }
    
    .small-1{
        width:100%;
    
    }
    .small-2, .small-3, .small-4, .small-5{
        width:50%;
    }
}
@media (min-width:800px) 
{
    .big{
        display: flex;
        /*without flex wrap everything will be in the same line*/
    }
    
    .small-1{
        width:60%;
    
    }
    .small-2{
        width:40%;
    } 
    .small-3, .small-4, .small-5{
        width:33.3%;
    }
}
@media (min-width:1600px)
{
    .big{
        width:1600px;
        margin:0 auto;
    }
}